* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 30rem;
    margin-top: 2rem;
    background-color:cornflowerblue;
    text-align: center;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    font-size: large;
    color: chartreuse;
}

.container img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.container p{
    color:crimson;
    
}
button {
    padding: 1rem;
    background-color: blueviolet;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: none;

}

button:hover {
    background-color: aqua;
    transform: scale(360deg);
    box-shadow: 5px 5px 5px chartreuse;
}